

.header {
	padding: 20px 0px;
	border-bottom: 2px solid #ccc;
}

.mainSection {
	background: url('../images/staticmap.jpg');
	background-size: 50% auto;
	background-repeat: no-repeat;
	background-position-x: 50%;
	padding: 40px 0px;
}

.bottomSection {
	margin-top: 30px;
	padding: 20px 0px;
	background-color: rgb(117, 151, 61);
}

.playButton {
	width: 200px;
	position: relative;
	left: 50%;
	margin-left: -100px;
	background: rgb(117, 151, 61);
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 6px;
	text-decoration: none;
	color: black;
	border: 2px solid black;
}

.playButton:hover {
	text-decoration: none;
	color: black;
}
