
h1 {
	font-family: Impact, Charcoal, sans-serif;
}

#map {
	width 100%;
	height: 100%;
}

.introMessage {
	position: fixed;
	left: 50%;
	width: 800px;
	margin-left: -400px;
	top: 100px;
	background: white;
	padding: 20px;
	border: 2px solid black;
	z-index: 9001;
	border-radius: 6px;
}

.introMessage ol {
	padding-left: 15px;
}

.introMessage .beginPlaying {
	font-size: 24px;
	padding: 10px 20px;
	border: 2px solid black;
	text-decoration: none;
	border-radius: 6px;
}


#speciesImageContainer {
	display: none;
	width: 15%;
	position: fixed;
	top: 20px;
	right: 20px;
}

#speciesImage {
	width: 100%;
}

#species-list {
	width: 15%;
	position: fixed;
	z-index: 9001;
	top: 20px;
	left: 20px;
}


#species-list div {
	margin-bottom: 2px;
}

#species-list div.species {
	padding: 5px 10px;
	border-radius: 6px;
	background-color: #0066cc;
	border: 6px solid transparent;
}

#species-list div.species a {
	cursor: default;
}

#species-list div.species.correct {
	background-color: #00b33c;
	border: 6px solid #00b33c;
}

#species-list div.species.incorrect {
	background-color: #ff4000;
	border: 6px solid #ff4000;
}

#species-list div.species.active {
	border: 6px dotted #3399ff;
}

#species-list div a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.score {
	position: fixed;
	bottom: 20px;
	left: 50%;
	padding: 10px 20px;
	width: 350px;
	margin-left: -150px;
	text-align: center;
	font-weight:bold;
	font-size: 40px;
	background: white;
	border-radius: 6px;
	border: 2px solid black;
	/*margin-top: 10px;*/
	display: none;
}

.thisScoreContainer {
	position: fixed;
	width: 500px;
	top: 300px;
	left: 50%;
	margin-left: -250px;
	z-index: 9001;
	font-size: 100px;
	color: red;
	display: none;
}

.thisScoreContainer .message {
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.score-counter {
	position: fixed;
	font-size: 45px;
	bottom: 110px;
	left: 50%;
	width: 100px;
	margin-left: -50px;
	text-align: center;
	z-index: 9001;
}

.congratulationsMessage {
	position: fixed;
	z-index: 9001;
	background: white;
	width: 600px;
	text-align: center;
	left: 50%;
	margin-left: -300px;
	top: 200px;
	padding-bottom: 15px;
	border-radius: 10px;
	border: 4px solid black;
	display: none;
}

.fireworks {
	margin-bottom: 10px;
}

a.try-again {
	font-size: 20px;
	text-decoration: underline;
}


.fb-container {
	padding: 20px 0px;
	text-align: center;
}